/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*********FONTS**********/

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
  background-image: url(images/cocktail-seamless.jpg);
  background-size: 50%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 0.5px solid #000;
  border-radius: 10px;
  margin: 10px;
  /* background-color: #f4f4f4; */
}

.item {
  flex: 1;
  /*
  border: 0.5px solid #000;
  */
  border-radius: 10px;
  background-color: #FFF;
  align-items: center;
}

.item-double {
  flex: 2;
  /*
  border: 0.5px solid #000;
  */
  border-radius: 10px;
  background-color: #FFF;
  margin: 10px;
}

.item-start {
  align-self: flex-start;
}

.item-end {
  align-self: flex-end;
  margin: 0 10px 0 0;
}

.center {
  text-align: center;
}

.padding {
  padding: 5px;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #ee1600;
}

h1, h3, p {
  margin: 5px;
}

button {
  margin: 5px;
}

[name="answer"] {
  margin: 10px 0 10px 0;
}

img {
  border-radius: 5px;
  border: solid black;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  width:75%;
  
}

@media all and (min-width: 1200px) {

  body {
    font-size: 24px;
  }
  
  .wrapper {
    width: 50%;
  }

  .group {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: 0.5px solid #000;
    border-radius: 10px;
    margin: 20px;
    /* background-color: #f4f4f4; */
  }

  .item {
    flex: 1;
    /*
    border: 0.5px solid #000;
    */
    border-radius: 10px;
    background-color: #FFF;
    align-items: center;
  }
  
  .item-double {
    flex: 2;
    /*
    border: 0.5px solid #000;
    */
    border-radius: 10px;
    background-color: #FFF;
    margin: 20px;
  }

  .padding {
    padding: 10px 50px 10px 50px;
  }

  .no-padding-bottom {
    padding: 50px 50px 10px 50px;
  }

  h1, h3, p {
    margin: 15px;
  }

  img {
    margin: 20px auto 0 auto;
    max-width: 65%;
  }

}