/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*********FONTS**********/

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
  background-image: url(images/cocktail-seamless.jpg);
  background-size: 50%;
  font-family: "Proxima Nova", sans-serif;
  font-size: 10px;
  /* text-align: center; */
  filter: saturate(1.2);
}

.wrapper {
  width: 90%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  /* border: 0.5px solid #000; */
  border-radius: 0 0 5px 5px;
  margin: 5px;
  /* background-color: #f4f4f4; */
}

.group-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFF;
  /* border: 0.5px solid #000; */
  border-radius: 5px 5px 0 0;
  margin: 5px;
  margin-bottom: 0;;
}

.item {
  flex: 1;
  /* border: 0.5px solid #000; */
  border-radius: 0 0 5px 5px;
  background-color: #FFF;
  align-items: center;
}

.item-double {
  flex: 2;
  /* border: 0.5px solid #000; */
  border-radius: 0 0 5px 5px;
  background-color: #FFF;
  margin: 0px;
}

.item-start {
  align-self: flex-start;
}

.item-end {
  align-self: flex-end;
  margin: 0 10px 0 0;
}

.center {
  text-align: center;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

h1 {
  color: #ee1600;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
  font-size: 16px;
}

h1, h2, p {
  margin: 10px;
}

button {
  margin: 10px;
  margin-top: 0;
}

.start-button {
  background: #FFF;
  border: 0;
  color: #0041aa;
  font-weight: bold;
  padding: 0;
}

.radio-button {
  margin: 10px;
}

img {
  border-radius: 2px;
  /*
  border: solid black;
  */
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  width: 95%;
}

.nav-img {
  align-self: center;
  border-radius: 0px;
  border: 0;
  height: 45%;
  margin: 5px 5px 5px 5px;
  width:20%;
}

@media all and (min-width: 1200px) {

  body {
    font-size: 16px;
  }
  
  .wrapper {
    width: 50%;
  }

  .group {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    /* border: 0.5px solid #000; */
    border-radius: 10px;
    margin: 10px;
    /* background-color: #f4f4f4; */
  }

  .group-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    /* border: 0.5px solid #000; */
    border-radius: 10px;
    margin: 10px;
  }

  .item {
    flex: 1;
    /*
    border: 0.5px solid #000;
    */
    border-radius: 10px;
    background-color: #FFF;
    align-items: center;
  }
  
  .item-double {
    flex: 2;
    /*
    border: 0.5px solid #000;
    */
    border-radius: 10px;
    background-color: #FFF;
    margin: 20px;
  }

  .item {
    flex: 1;
    /* border: 0.5px solid #000; */
    border-radius: 10px;
    background-color: #FFF;
  }

  .item-double {
    flex: 2;
    /* border: 0.5px solid #000; */
    border-radius: 10px;
    background-color: #FFF;
    margin: 10px;
  }

  .no-margin-top {
    margin-top: 0;
  }
  
  .no-margin-bottom {
    margin-bottom: 0;
  }

  /*
  .padding {
    padding: 10px 50px 10px 50px;
  }

  .no-padding-bottom {
    padding: 50px 50px 10px 50px;
  }
  */

  h1 {
    align-self: center;
    font-family: proxima-nova, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    color: #ee1600;
  }

  h2 {
    font-weight: bold;
    font-size: 26px;
  }

  h1, h2, p {
    margin: 15px 15px 15px 30px;
  }

  button {
    margin: 15px 15px 15px 30px;
    margin-top: 0;
  }

  .start-button {
    background: #FFF;
    border: 0;
    color: #0041aa;
    font-weight: bold;
    padding: 0;
  }

  .radio-button {
    margin: 15px 15px 15px 30px;
  }

  img {
    border-radius: 2px;
    /*
    border: solid black;
    */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0;
    overflow: hidden;
    width: 45%;
  }

  .nav-img {
    border-radius: 0px;
    border: 0;
    height: 40%;
    margin: 15px 15px 15px 15px;
    width: 15%;
  }


}